@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.main {
  position: relative;
  @apply min-h-screen;
 /* min-height: 100%; */
}
.header-height {
  height: 75px;
}
.hover-effect {
  @apply hover:text-primary hover:underline hover:underline-offset-2;
}
.link-hover {
  @apply hover:text-red-700 hover:underline hover:underline-offset-4;
}
.stat-btn-view {
  @apply inline-flex items-center justify-center text-sm font-medium text-blue-600;
} 
.outlined-action-btn {
  @apply flex text-sm outline outline-1 h-fit outline-softGreen rounded;
}
.grid-col {
  @apply flex bg-white rounded-md;
}
.bordered-label {
  @apply border border-gray-300 rounded-md;
}
.simple-input {
  @apply block rounded-md border-gray-300 shadow-sm focus:border-miniTxtColor focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
}
.focus-input {
  @apply outline outline-red-500 outline-1;
}
.submit-btn {
  @apply flex bg-innoColor2 text-white rounded-md;
}